<% include ../partials/head %>
	<h3>All Submitted Answers</h3>
	<table id="myTable" class="table table-striped table-bordered" style="table-layout: fixed;word-wrap: break-word;">
		<thead>
			<tr>
				<td class="center-align">Question ID</td>
				<td class="center-align">Cogni ID</td>
				<td class="center-align">Submitted Answer</td>
			</tr>
		</thead>
		<% answers.forEach(function(answer) { %>
		<tr>
			<td><%= answer.question_id %></td>
			<td><%= answer.user_id %></td>
			<td><%= answer.answer %></td>
		</tr>
		<% }); %> 
		<tbody>
		</tbody>
	</table>
</body>
</html>