
<% include ../partials/head %>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/stylish-portfolio.min.css" rel="stylesheet">

  <body id="page-top">
    <!-- Navigation -->


    <!-- Header -->
    <header class="masthead d-flex">
      <div class="container text-center my-auto">
        <h1 class="mb-1">COGNIZANCE'19</h1>
        <h2 class="mb-5">
          <em><%= title %></em>
        </h2>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="/quiz">START QUIZ</a>
      </div>
      <div class="overlay"></div>
    </header>
  </body>
