<% include ../partials/head %>
<%- message %>
<div class="main">
	<% questions.forEach(function(question) { %>
	<div id="question" class="question-<%= question.id %>">
		<input id="id" style="display: none;" value="<%= question.id %>">
		<%- question.statement %><br />
		<input id="answer" type="text" name="answer">
		<button class="submit">Submit</button>
	</div>
	<% }); %>
</div>
<div id="form-messages" style="color: red"></div>
<!-- <a href="#" id="next">Next</a> -->
<!-- <a href="/leaderboard">Leaderboard</a> -->
<a href="/logout">logout</a>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg" id="leaderboard">Leaderboard</button>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="leaderboard">
				<div class="name"></div>
				<div class="score"></div>
			</div>
		</div>
	</div>
</div>


</body>
</html>
