<% include ../partials/head %>
<link rel="stylesheet" type="text/css" href="/css/form.css">>
<form class="login" method="POST" action="/login">
    <legend class="legend">Login: Cognizance ILLUSHUN</legend>
    <div class="input">
      Please use CogniID to login<br/>(If you are not having one please register at <a href="https://cognizance.org.in" target="_blank">Cognizance</a>)
    </div>
    <%if (!oth) { %>
      <div class="input">
        <input type="text" class="id" placeholder="Cogni Id" name="cogniId" required />
      </div>
    <% } %>
    <%if (oth) { %>
      <div class="input">
        <input type="text" name="cogniId" value=<%= cogniId %> readonly />
      </div>
      <div class="input">
        <input type="password" class="id" placeholder="One Time Hash" name="hash" required />
      </div>
    <% } %>
    <!-- <div class="input">
      <input type="password" placeholder="Password" name="password" required />
    </div> -->
    <div class="input center-align" style="color: red;font-size: 15px">
      <%= msg %>
    </div>
    <div class="input" style="font-size: 15px; text-align: right;">
      <a  href="/login">reset</a>
      <a style="float:left" target="_blank" href="/oth">What is One Time Hash? (OTH)</a>
    </div>
    <button type="submit" class="submit"><i class="fa fa-long-arrow-right"></i></button>
</form>
