<% include ../partials/head %>
<link rel="stylesheet" type="text/css" href="/css/form.css">

<form class="login" method="POST" action="/login">

  <fieldset>

  	<legend class="legend">Login: Cognizance ILLUSHUN</legend>

    <div class="input">
    	<input type="username" placeholder="Cogni Id" name="username" required />
    </div>
    
    <div class="input">
    	<input type="password" placeholder="Password" name="password" required />
    </div>
    <div class="input center-align" style="color: red;font-size: 15px">
      <%= msg %>
    </div>
    <div class="input" style="font-size: 15px; text-align: right;">
      Not yet registered! <a href="/signup">Signup</a>
    </div>
    <button type="submit" class="submit"><i class="fa fa-long-arrow-right"></i></button>
    
  </fieldset>
  
</form>