<% include ../partials/head %>
<link rel="stylesheet" type="text/css" href="/css/form.css">
<div class="container well masthead">
    <a href="/login">GO BACK</a>
<div class="well">
        <h1>What is OTH</h1>
    <h2>One Time Hash.</h2>
    <b>You need to be registered on <a href="https://cognizance.org.in">https://cognizance.org.in</a> to attempt quiz. </b>
    <p>OTH is the one-time hash(password) that is used to login into the quizzing event.
         The OTH can be generated when the user will login their cognizance user account, visit the <a style="color: blue;" href="https://cognizance.org.in/users/dashboard/oth">https://cognizance.org.in/users/dashboard/oth</a>  and click on the "GENERATE ONE TIME HASH FOR QUIZ" button to generate the hash password. OTH can be generated as many time as a user want but one hash will be valid only for 3 minutes</p>
    
         <img
            style="max-width: 70vw; margin: auto 0px;"
         src="/images/oth1.png" alt="OTH IMAGE" >
</div>
        
</div>