<% include ../partials/head %>
<link rel="stylesheet" type="text/css" href="/css/form.css">
<div class="container well masthead">
    <a href="/login">GO BACK</a>
<div class="well">
        <h1>What is OTH</h1>
    <h2>One Time Hash.</h2>
    <b>You need to be <em>registered and logged in</em> on <a href="https://cognizance.org.in">https://cognizance.org.in</a> to successfully generate the oth and participate in the quiz. </b>
    <p>OTH is the one-time hash(password) that is used to login into the quizzing event.
         The OTH can be generated after the user has logged in into their cognizance user account, visit <a style="color: blue;" href="https://cognizance.org.in/users/dashboard/oth">https://cognizance.org.in/users/dashboard/cogni_user/oth</a>  and click on the "GENERATE ONE TIME HASH FOR QUIZ" button to generate the hash password. OTH can be generated as many time as a user want but one hash will be valid only for 3 minutes</p>
         <hr>
         Follow the procedure to get your One Time Hash.
         <ul>
            <li>Register/login into <a href="https://cognizance.org.in">https://cognizance.org.in</a>.</li>
            <li>Click <a style="color: blue;" href="https://cognizance.org.in/users/dashboard/oth">here</a> to generate your OTH.(make sure that you are logged in on  <a href="https://cognizance.org.in">https://cognizance.org.in</a> to generate the OTH successfully.</li>
            <li>Enter you Cognizance Id and OTH when asked for.</li>
            <li>One You are logged in you are ready to go. :) </li>
         </ul>
    
         <img
            style="max-width: 70vw; margin: auto 0px;"
         src="/images/oth1.png" alt="OTH IMAGE" >
</div>
        
</div>
