<!DOCTYPE html>
<html>
<head>
	<title>ILLUSHUN</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="/css/ytLoad.jquery.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="/js/jquery.transit.js"></script>
	<script type="text/javascript" src="/js/ytLoad.jquery.js"></script>
	<script type="text/javascript" src="/js/check_script.js"></script>
</head>
<body>
	<div id="loader" class="se-pre-con" style=" background: url(/images/loader.gif) center no-repeat #fff;"></div>
	<div class="navbar navbar-default">
		<div class="container">
			<a href="/" class="navbar-brand"> COGNIZANCE | ILLUSHUN</a>
			<p class="h4 text4">Rules</p>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<ol>
					<li> First get a Cogni ID by registering at www.cognizance.org.in, then using the Cogni id register at bit.ly/2mX8fzG</li>
					<li> Answer format : lowercase, alphanumeric, special characters, no spaces.</li>
					<li> If the answer of any level is a name use full name as given on wikipedia page.</li>
				</ol>
			</div>
		</div>
	</div>
</body>
</html>