<% include ../partials/head %>
<div class="navbar navbar-default">
	<div class="container">
		<a href="https://cognizance.org.in/" class="navbar-brand"> Sangram 2017 |</a>
		<a href="#" class="navbar-brand"> </a>
		<p class="h4 text4"> SPORTS QUIZ
		</p>
	</div>
</div>
<div class="container">
	<div class="row" style="text-align: center;font-size: 20px">
		<div class="col-md-12">
			Quiz will begin at 10 pm on 29th January 2017
		</div>
	</div>
</div>
