<h1><%= message %></h1>
<h2>Page you are looking for does not exist</h2>
<input action="action" type="button" value="Go Back" onclick="history.go(-1);" />
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
